# **Aprendizagem Automática (APRAU)**

### Trabalho - etapa 1

### Features:

* **Altitude**: A altitude do terreno em metros.
* **Slope_Orientation (Orientação da Inclinação)**: A direção da bússola para a qual o terreno está voltado (em graus).
* **Slope (Inclinação)**: A inclinação em graus.
* **Horizontal_Distance_To_Water (Distância Horizontal até a Água)**: Distância horizontal até a superfície de água mais próxima (em metros).
* **Vertical_Distance_To_Water (Distância Vertical até a Água)**: Distância vertical até a superfície de água mais próxima (em metros).
* **Horizontal_Distance_To_Roadways (Distância Horizontal até Estradas)**: Distância horizontal até a estrada mais próxima, em metros (pode indicar influência de atividades humanas no ambiente).
* **Shadow_Index (Índice de Sombra)**: Índice de sombra medido em três horários do dia (9h, 12h e 15h).
* **Horizontal_Distance_To_Fire_Points (Distância Horizontal até Pontos de Fogo)**: Distância horizontal até os pontos de ignição de incêndios mais próximos (em metros).
* **Canopy_Density (Densidade do Dossel)**: A percentagem da área do terreno coberta por dossel de árvores (medido em percentagem, de 0 a 100).
* **Rainfall_Summer (Precipitação no Verão)**: Precipitação média durante o verão (medida em mm).
* **Rainfall_Winter (Precipitação no Inverno)**: Precipitação média durante o inverno (medida em mm).
* **Wind_Exposure_Level (Nível de Exposição ao Vento)**: Velocidade média do vento durante o inverno (medida em km/h).
* **Soil_Type (Tipo de Solo)**: Designação do tipo de solo. No conjunto de dados existem 40 tipos diferentes de solo.
* **Wilderness_Area (Área Selvagem)**: No conjunto de dados existem 4 tipos diferentes de áreas selvagens.
* **Vegetation_Type (Tipo de Vegetação)**: A variável alvo. Existem 7 classes possíveis, cada uma representando um tipo diferente de vegetação.

## Bibliotecas base

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## Carregar dados

### 1. Data_Class_2

In [2]:
df_class_2 = pd.read_csv('Data_Class_2.csv')
df_class_2.shape

(1404, 18)

In [3]:
df_class_2.head()

,Id,Altitude,Slope_Orientation,Slope,Horizontal_Distance_To_Water,Vertical_Distance_To_Water,Horizontal_Distance_To_Roadways,Shadow_Index_9h,Shadow_Index_12h,Shadow_Index_15h,Horizontal_Distance_To_Fire_Points,Canopy_Density,Rainfall_Summer,Rainfall_Winter,Wind_Exposure_Level,Soil_Type,Wilderness_Area,Vegetation_Type
0,14537,3166,198,6,192,-4,3137,218,245,163,1253,66.69,415.11,462.97,19.95,Type_32,Area_3,Type_2
1,1154,2877,342,13,450,131,618,193,220,166,2285,70.81,338.70,1155.71,12.01,Type_24,Area_1,Type_2
2,14507,3103,48,7,0,0,1034,223,225,137,2070,83.12,276.31,415.73,48.18,Type_22,Area_1,Type_2
3,7196,2950,269,39,450,316,1528,95,221,248,1595,62.51,220.58,716.58,54.54,Type_33,Area_3,Type_2
4,1801,2868,332,17,60,23,1718,177,215,176,2613,87.39,348.47,164.33,62.79,Type_33,Area_3,Type_2

### 2. Data_Class_5

In [4]:
df_class_5 = pd.read_csv('Data_Class_5.csv')
df_class_5.shape

(1944, 18)

In [5]:
df_class_5.head()

,Id,Altitude,Slope_Orientation,Slope,Horizontal_Distance_To_Water,Vertical_Distance_To_Water,Horizontal_Distance_To_Roadways,Shadow_Index_9h,Shadow_Index_12h,Shadow_Index_15h,Horizontal_Distance_To_Fire_Points,Canopy_Density,Rainfall_Summer,Rainfall_Winter,Wind_Exposure_Level,Soil_Type,Wilderness_Area,Vegetation_Type
0,7985,2567,99,6,379,25,1253,230,232,136,1414,56.32,268.73,1002.80,20.74,Type_2,Area_3,Type_5
1,13500,2789,58,7,551,55,240,226,225,133,912,72.54,389.08,94.67,5.38,Type_11,Area_3,Type_5
2,11569,2739,91,10,30,4,1398,235,225,120,2343,36.01,289.59,777.30,10.56,Type_23,Area_1,Type_5
3,13803,2887,332,12,607,121,2201,191,224,172,767,87.95,314.07,418.72,20.21,Type_11,Area_3,Type_5
4,3113,2872,225,18,285,37,1077,192,254,194,1756,72.84,372.33,838.12,24.75,Type_13,Area_3,Type_5

### 3. Data_Class_6

In [6]:
df_class_6 = pd.read_csv('Data_Class_6.csv')
df_class_6.shape

(2160, 18)

In [7]:
df_class_6.head()

,Id,Altitude,Slope_Orientation,Slope,Horizontal_Distance_To_Water,Vertical_Distance_To_Water,Horizontal_Distance_To_Roadways,Shadow_Index_9h,Shadow_Index_12h,Shadow_Index_15h,Horizontal_Distance_To_Fire_Points,Canopy_Density,Rainfall_Summer,Rainfall_Winter,Wind_Exposure_Level,Soil_Type,Wilderness_Area,Vegetation_Type
0,1869,2446,23,8,0,0,443,216,223,144,837,37.90,416.99,472.39,57.17,Type_20,Area_3,Type_6
1,1881,2508,20,21,0,0,859,201,192,121,1651,71.33,393.88,997.57,5.70,Type_20,Area_3,Type_6
2,1882,2437,349,12,30,4,997,198,220,161,1455,82.40,353.56,211.28,28.45,Type_20,Area_3,Type_6
3,1889,2515,323,24,42,15,866,152,208,191,350,73.59,429.84,775.77,28.91,Type_33,Area_3,Type_6
4,1890,2533,322,29,85,36,828,134,197,196,323,89.51,364.55,282.96,64.40,Type_33,Area_3,Type_6

## Análise Exploratória

### Estatísticas descritivas

In [8]:
df_class_2.describe()

,Id,Altitude,Slope_Orientation,Slope,Horizontal_Distance_To_Water,Vertical_Distance_To_Water,Horizontal_Distance_To_Roadways,Shadow_Index_9h,Shadow_Index_12h,Shadow_Index_15h,Horizontal_Distance_To_Fire_Points,Canopy_Density,Rainfall_Summer,Rainfall_Winter,Wind_Exposure_Level
count,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.000000,1404.00000,1404.000000,1404.000000
mean,6122.415242,2919.164530,152.111111,13.413105,287.415242,47.106125,2434.702991,214.183761,225.296296,142.724359,2179.053419,59.620071,297.55062,638.695363,34.884815
std,5062.550238,184.577202,107.033400,7.003329,211.061558,58.508592,1629.297600,24.908222,18.314796,35.014673,1403.899619,17.278039,86.91864,323.758454,17.304180
min,3.000000,2236.000000,0.000000,1.000000,0.000000,-146.000000,67.000000,83.000000,115.000000,6.000000,42.000000,30.010000,150.09000,91.630000,5.030000
25%,815.500000,2796.750000,61.000000,8.000000,127.000000,9.000000,1115.500000,202.000000,215.000000,120.000000,1188.750000,44.700000,222.67250,347.017500,19.622500
50%,6658.500000,2923.000000,127.000000,13.000000,242.000000,32.000000,2039.500000,220.000000,228.000000,141.000000,1874.500000,59.545000,296.95500,638.645000,35.085000
75%,10746.000000,3037.000000,239.250000,17.000000,402.000000,67.250000,3443.750000,232.000000,239.000000,166.000000,2688.750000,74.477500,374.70250,929.987500,50.382500
max,14930.000000,3413.000000,359.000000,45.000000,1343.000000,547.000000,6836.000000,254.000000,254.000000,248.000000,6723.000000,89.980000,449.98000,1198.650000,64.940000

In [9]:
df_class_5.describe()

,Id,Altitude,Slope_Orientation,Slope,Horizontal_Distance_To_Water,Vertical_Distance_To_Water,Horizontal_Distance_To_Roadways,Shadow_Index_9h,Shadow_Index_12h,Shadow_Index_15h,Horizontal_Distance_To_Fire_Points,Canopy_Density,Rainfall_Summer,Rainfall_Winter,Wind_Exposure_Level
count,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000,1944.000000
mean,6477.716049,2785.611626,138.122942,16.704218,207.278292,50.511317,1329.395576,223.369342,218.326646,121.400206,1539.295782,59.372428,304.851260,633.857623,34.676481
std,4548.424456,96.535818,91.900698,8.444330,177.317201,57.657898,1044.563058,22.389855,26.001441,49.998737,992.556238,17.259735,86.139094,310.803942,17.263913
min,1.000000,2482.000000,0.000000,1.000000,0.000000,-114.000000,30.000000,130.000000,99.000000,0.000000,60.000000,30.000000,150.070000,91.550000,5.030000
25%,2115.750000,2729.000000,69.000000,10.000000,85.000000,5.000000,420.000000,211.000000,204.000000,85.000000,858.750000,44.377500,231.175000,368.837500,20.205000
50%,6688.500000,2792.500000,108.000000,16.000000,170.000000,35.000000,1242.500000,228.000000,224.000000,128.000000,1429.000000,59.190000,307.860000,629.265000,33.815000
75%,10649.250000,2854.000000,192.000000,22.000000,285.000000,81.000000,1959.000000,241.000000,238.000000,158.000000,1939.000000,74.165000,377.812500,894.802500,49.727500
max,14849.000000,3007.000000,359.000000,50.000000,1082.000000,262.000000,5198.000000,254.000000,254.000000,229.000000,6279.000000,89.970000,449.910000,1199.090000,65.000000

In [10]:
df_class_6.describe()

,Id,Altitude,Slope_Orientation,Slope,Horizontal_Distance_To_Water,Vertical_Distance_To_Water,Horizontal_Distance_To_Roadways,Shadow_Index_9h,Shadow_Index_12h,Shadow_Index_15h,Horizontal_Distance_To_Fire_Points,Canopy_Density,Rainfall_Summer,Rainfall_Winter,Wind_Exposure_Level
count,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000
mean,8061.305093,2423.276852,180.617130,18.986111,160.095370,44.873611,1064.980556,193.562963,209.960648,147.682407,1057.654167,59.782051,300.184528,645.943866,35.494847
std,3949.174092,188.966981,133.087862,7.714618,125.770515,47.034674,576.384899,33.684031,23.934851,45.588500,576.691004,17.553901,85.768490,322.144798,17.338936
min,1869.000000,1863.000000,0.000000,1.000000,0.000000,-104.000000,0.000000,0.000000,127.000000,22.000000,0.000000,30.020000,150.030000,90.900000,5.030000
25%,5275.750000,2319.750000,44.000000,13.000000,60.000000,7.000000,626.000000,169.000000,195.000000,114.000000,643.500000,44.197500,227.582500,365.457500,20.732500
50%,7164.500000,2430.000000,171.000000,19.000000,134.000000,33.000000,993.000000,196.000000,213.000000,150.000000,942.000000,59.590000,302.425000,652.000000,36.005000
75%,11470.500000,2553.000000,318.000000,24.000000,240.000000,73.000000,1420.500000,221.000000,227.000000,184.000000,1364.250000,74.785000,371.582500,923.100000,50.142500
max,15113.000000,2883.000000,360.000000,52.000000,624.000000,249.000000,3078.000000,254.000000,254.000000,238.000000,2918.000000,89.990000,449.970000,1198.460000,64.990000

In [11]:
df_all = pd.concat([df_class_2,df_class_5,df_class_6], axis=0)
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5508 entries, 0 to 2159
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Id                                  5508 non-null   int64
 1   Altitude                            5508 non-null   int64
 2   Slope_Orientation                   5508 non-null   int64
 3   Slope                               5508 non-null   int64
 4   Horizontal_Distance_To_Water        5508 non-null   int64
 5   Vertical_Distance_To_Water          5508 non-null   int64
 6   Horizontal_Distance_To_Roadways     5508 non-null   int64
 7   Shadow_Index_9h                     5508 non-null   int64
 8   Shadow_Index_12h                    5508 non-null   int64
 9   Shadow_Index_15h                    5508 non-null   int64
 10  Horizontal_Distance_To_Fire_Points  5508 non-null   int64
 11  Canopy_Density                      5508 non-null   float64
 12  Rainfall_Summer                     5508 non-null   float64
 13  Rainfall_Winter                     5508 non-null   float64
 14  Wind_Exposure_Level                 5508 non-null   float64
 15  Soil_Type                           5508 non-null   object
 16  Wilderness_Area                     5508 non-null   object
 17  Vegetation_Type                     5508 non-null   object
dtypes: float64(4), int64(11), object(3)
memory usage: 817.6+ KB

### Análise Univariada